@import 'https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700;900&display=swap';

$primary-color:#FF6464;
$secondary-color:#00A8CC;
$dark-color:#21243D;
$light-color:#8695A4;
$default-bg-color:#FFFFFF;
$additional-bg-color:#EDF7FA;
$font-primary: "Alegreya Sans", sans-serif;


