<div class="greetings">
    <div class="greetings__main-area">
        <h1 class="greetings_title">
            Привет, я Денис <br> Фронтенд-разработчик
        </h1>
        <p class="greetings_text">
            Я занимаюсь разработкой сайтов с 2024 года! Основным фреймворком является Angular, но кроме него есть опыт работы с React.
        </p>
        <button class="greetings_download-button" (click)="downloadResumeModal()">Скачать резюме</button>
    </div>
    <div class="greetings__image-container">
        <img class="greetings__image-container_image"  src="assets/img/avatar.png" alt="Моя фотография">
    </div>
</div>