@import "../../../../styles/variables.scss";

.home-block {
  padding: 7px 148px 32px 148px;
  &__warning {
    font-weight: 700;
    font-size: 32px;
    margin: 0 auto;
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &_title {
      color: $dark-color;
      font-size: 22px;
      line-height: 60px;
      font-weight: 400;
      margin: 0;
    }
    &_link {
      text-decoration: none;
      color: $secondary-color;
      font-size: 16px;
      transition: 0.3s ease-in;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
